html, body {
    margin: 0;
    background-color: #74b87c;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

header{
    display: flex;
    flex: 2;
    width: 100%;
    background-color: #8fe398;
    justify-content: center;
    color: azure;
    border-bottom: 2rem solid azure;
}

h1 {
    border: 0.7rem solid azure;
    padding: 1rem;
    border-radius: 1rem;
}

main {
    display: flex;
    flex: 12;
}

aside {
    width: 20%;
    padding: 1rem;
    margin: 2rem;
    border: 1rem solid #3f6343;
    border-radius: 1rem;
}

.search-title {
    background-color: #8fe398;
    color: azure;
    border: 1rem solid azure;
    border-radius: 1rem;
    padding: 1rem;
    margin: 0.5rem 0;
    text-align: center;
}


.search-engine {
    display: flex;
    flex-direction: column;
    text-align: center;
}

#city-input {
    height: 2rem;
}

#search-btn, #clear-history {
    margin: 0.5rem 0;
    padding: 0.5rem;
}


.history {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.city-name {
    border: 0.5rem solid #3f6343;
    border-radius: 1rem;
    background-color: #598e5f;
    margin: 0.5rem 0;
    cursor: default;
    color: azure;
    padding: 0.5rem;
}

.weather-content {
    display: flex;
    flex-direction: column;
    width: 80%;
}

.present {
    margin-top: 2rem;
    display: flex;
    align-items: center;
    width: 40%;
    border: 1rem solid #3f6343;
    border-radius: 1rem;
    padding: 1rem;
    justify-content: space-between;
    flex-wrap: wrap;
}

.present-info {
    font-size: 1.25rem;
}

.five-title {
    font-size: 2rem;
    margin: 1rem;
}

.future {
    display: flex;
    flex-direction: column;
    border: 1rem solid #3f6343;
    border-radius: 1rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-right: 2rem;
}

#five-day {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.fivecast {
    background-color: #598e5f;
    padding: 1.5rem;
    border-radius: 2rem;
    margin-bottom: 0.5rem;
    color: azure;
    border: 0.5rem solid azure;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#date-five {
    border: 0.5rem solid #3f6343;
    border-radius: 1rem;
    padding: 0.5rem;
}

.content-five {
    border: 0.5rem solid #3f6343;
    border-radius: 2rem;
    padding: 0.5rem;
}